version: "3.8"

services:
  app:
    image: pengaduan-app
    container_name: pengaduan_app
    working_dir: /var/www
    volumes:
      - .:/var/www
    expose:
      - "9000"
    restart: unless-stopped

  web:
    image: nginx:alpine
    container_name: pengaduan_web
    ports:
      - "5000:80"
    volumes:
      - .:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    restart: unless-stopped
