version: "3.8"

services:
  app:
    build: .
    container_name: pengaduan_app
    volumes:
      - .:/var/www
    restart: unless-stopped

  web:
    image: nginx:alpine
    container_name: pengaduan_web
    volumes:
      - .:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    restart: unless-stopped
